@charset "UTF-8";
/*!
 * All styles for site
 */
/*!
 * Body content
 */
.clearfix:after, .clearfix:before {
  content: "";
  display: table;
  height: 0; }

.clearfix:after {
  clear: both; }

.wrapper {
  width: 100%;
  margin: 0;
  padding: 0; }

.scale:hover {
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05); }

.animate {
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s; }
  .animate:hover {
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s; }

.visualizer-door .visualizer-block {
  margin-bottom: 5px;
  overflow-x: auto; }
  .visualizer-door .visualizer-block .title {
    margin-bottom: 5px; }

.visualizer-door .backsplash {
  overflow: hidden;
  min-height: 100%;
  border: 3px solid #ccc; }
  .visualizer-door .backsplash img {
    width: 100%;
    height: auto; }

.visualizer-door #double-door, .visualizer-door #single-door {
  position: absolute;
  z-index: 2;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  mix-blend-mode: multiply; }

.visualizer-door #single-door {
  display: none; }

.visualizer-door #door-handles, .visualizer-door #single-door-handles {
  position: absolute;
  z-index: 3;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%; }
  .visualizer-door #door-handles .lock, .visualizer-door #single-door-handles .lock {
    fill: #000; }

.visualizer-door #single-door-handles {
  display: none; }

.visualizer-door #handles {
  left: 0;
  top: 0; }

.visualizer-door #door-sidelight {
  position: absolute;
  z-index: 3;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%; }

.visualizer-door .double-door {
  fill: url(../images/door/big/walnut.jpg); }

.visualizer-door .handles {
  fill: #c6c8c3; }

.visualizer-door [class*=sidelight] {
  fill: transparent; }

.visualizer-door .door-sidelight {
  display: none; }

.visualizer-door .door-01 {
  display: block; }

.visualizer-door #backsplash {
  width: 100%;
  height: 100%;
  bottom: 4.2%;
  mix-blend-mode: darken; }

.visualizer-door #sidelight {
  width: 100%;
  height: 100%;
  bottom: 0; }

.visualizer-door .door, .visualizer-door .handles {
  width: 100%;
  height: 100%;
  top: 0; }

.visualizer-door .door-block {
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  width: 100%;
  z-index: 3;
  background: #f1f1f1;
  padding: 5px; }
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .visualizer-door .door-block div {
      height: 40px;
      width: 40px; } }

.visualizer-door .inserts-door-11 {
  display: none; }

.visualizer-door .door-type, .visualizer-door .door-color, .visualizer-door .handles-color, .visualizer-door .backsplash-color, .visualizer-door .door-sidelight, .visualizer-door .door-inserts {
  height: 50px;
  width: 50px;
  cursor: pointer;
  margin-right: 5px;
  border: 1px solid #999; }
  .visualizer-door .door-type:hover, .visualizer-door .door-color:hover, .visualizer-door .handles-color:hover, .visualizer-door .backsplash-color:hover, .visualizer-door .door-sidelight:hover, .visualizer-door .door-inserts:hover {
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    -o-transition: .3s;
    -moz-transition: .3s;
    transition: .3s; }

.jscolor {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  border: 0;
  cursor: pointer;
  font-size: 10px;
  text-align: center; }

/* Костыль для Safari*/
.row:before, .row:after {
  content: '';
  display: block;
  width: 100%;
  height: 0; }

.row:after {
  clear: both; }

/*!
 * Header content
 */
/*!
 * Main content
 */
.main {
  padding-top: 70px; }

/*!
 * Footer content
 */
